<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Hair Salon</title>
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="/">Hair Salon</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        @Html.ActionLink("Home", "Index", "Home", null, new { @class="nav-item nav-link" } )
        @Html.ActionLink("Your Stylists", "Index", "Stylists", null, new { @class="nav-item nav-link" } )
        @Html.ActionLink("Add Stylists", "Create", "Stylists", null, new { @class="nav-item nav-link" } )
      </div>
    </div>
  </nav>

  <div class="container">
    @RenderBody()
  </div>
</body>
</html>